<h1> Log In </h1>

<form method="POST" action="/auth/login">

<form class="row g-3">

    <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email">
    </div>

    <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
    </div>

    <br>

    <div class="col-12">
    <button type="submit" class="btn btn-primary"> Login</button>
    </div>
</form>