
        <!--subscription start -->
            <section id="contact" class="subscription">
                <div class="container">
                    <div class="subscribe-title text-center">
                        <h2>
                            LOGIN
                        </h2>
                        <p>
                            Login to an Existing Account
                        </p>
                    </div>
                    <div class="row" >
                        <div class="col-sm-12" >
                            <div class="subscription-input-group" style="text-align: center;">
                                <form method="POST" action="/auth/login" >
                                    <input type="email" name="email" class="subscription-input-form"  style="width: 100%; margin-top: 20px; text-align: center;" placeholder="Email">
                                    <br>
                                    <input type="password" name="password" class="subscription-input-form" style="width: 100%; margin-top: 20px;text-align: center;" placeholder="Password">
                                    <br>
                                    <button type="submit" class="welcome-hero-btn" style="width: 100%; margin-top: 20px;" >
                                        LOGIN
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="subscribe-title text-center">
                        <p>
                            New to Dar Properties? <a href="/auth/signup">Register Here</a>
                        </p>
                    </div>
                </div>
        
            </section><!--/subscription-->
                <!--subscription end -->