<h1> Create a new Account </h1>

<form method="POST" action="/auth/signup">

<form class="row g-3">

    <div class="col-md-4">
        <label for="type" class="form-label">Type</label>
        <select id="type" class="form-select">
            <option selected>Choose</option>
            <option> Agent </option>
            <option> Company </option>
            <option> Customer </option>
            <option> Owner </option>

        </select>
        </div>

    <div class="col-12">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName">
    </div>

    <div class="col-12">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName">
    </div>

    <div class="col-12">
        <label for="companyName" class="form-label">Company Name</label>
        <input type="text" class="form-control" id="companyName">
    </div>

    <div class="col-md-6">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="number" class="form-control" id="phoneNumber">
        </div>
    
    
    <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail">
    </div>

    <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword">
    </div>

    <div class="col-12">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" required>
        <label class="form-check-label">
        I agree to the terms & conditions
        </label>
    </div>
    </div>
    <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>