<h1> Change Password</h1>


<div class="col-md-6" name="oldpassword">
    <label for="oldpassword" class="form-label"> Old Password</label>
    <input type="oldpassword" name="oldpassword" class="form-control" >
    </div>

    <div class="col-md-6" name="newpassword">
        <label for="newpassword" class="form-label">New Password</label>
        <input type="password" name="newpassword" class="form-control" >
        </div>

        
        <div class="col-md-6" name="confirm new password">
            <label for="confirm new password" class="form-label">Confirm Password</label>
            <input type="password" name="confirm new password" class="form-control" >
            </div>