<h1> Change Password</h1>

<form method="POST" action="/profile/changepassword">
    <div class="col-md-6" name="oldpassword">
        <label for="oldpassword" class="form-label"> Old Password</label>
        <input type="password" name="password" class="form-control" >
    </div>

    <div class="col-md-6" name="newpassword">
        <label for="newpassword" class="form-label">New Password</label>
        <input type="password" name="newPassword" class="form-control" >
    </div>

        
    <div class="col-md-6" name="confirm new password">
        <label for="confirm new password" class="form-label">Confirm Password</label>
        <input type="password" name="confirmPassword" class="form-control" >
    </div>
    <input type="hidden" name="user" value="<%=currentUser._id%>">
    <button type="submit" class="welcome-hero-btn">Change Password</button>
</form>