<body style="padding-left:15px; ">

<h1 style="padding-top: 10px;"> Change Password</h1>
<br>
<form method="POST" action="/profile/changepassword">
    <div class="col-md-6" name="oldpassword">
        <label for="oldpassword" class="form-label"> Old Password</label>
        <input type="password" name="password" class="form-control" >
    </div>

    <div class="col-md-6" name="newpassword" style="padding-top: 5px;">
        <label for="newpassword" class="form-label">New Password</label>
        <input type="password" name="newPassword" class="form-control" >
    </div>

        
    <div class="col-md-6" name="confirm new password" style="padding-top: 5px;">
        <label for="confirm new password" class="form-label">Confirm Password</label>
        <input type="password" name="confirmPassword" class="form-control" >
    </div>
    <input type="hidden" name="user" value="<%=currentUser._id%>">
    <button type="submit" class="btn btn-outline-danger" style="width: 50%; margin-top: 15px;">Change Password</button>
</form>

</body>