<form method="POST" action="/listing/add">
          <table>
            <thead>
              <tr class="table100-head">
                <th colspan="2">
                  Add New Listing
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 15%;">
                  Property Type:
                </td>
                <td>
                  <input type="radio" name="type" value="Villa">
                  <label for="villa">Villa</label><br>
                  <input type="radio" name="type" value="Apartment">
                  <label for="apartment">Apartment</label><br>
                </td>
              </tr>
              <tr>
                <td>
                  Location:
                </td>
                <td>
                  <select id="city" name="location" class="form-select">
                    <option selected disabled>Choose Property City</option>
                    <option>A'ali</option>
                    <option>Abu Saiba'a </option>
                    <option>Adhari </option>
                    <option>Adliya </option>
                    <option>Al Areen </option>
                    <option>Al Eker </option>
                    <option>Al Hajar </option>
                    <option>Al Khamis </option>
                    <option>Al Naim </option>
                    <option>Al Qurayyah </option>
                    <option>Amwaj Islands </option>
                    <option>Arad </option>
                    <option>Askar </option>
                    <option>Awali </option>
                    <option>Bahrain Bay </option>
                    <option>Bahrain Harbor </option>
                    <option>Bani Jamrah </option>
                    <option>Barbar </option>
                    <option>Bilad Al Qadeem </option>
                    <option>Bu Asheera </option>
                    <option>Bu Ghazal </option>
                    <option>Bu Kowarah </option>
                    <option>Budaiya </option>
                    <option>Buquwa </option>
                    <option>Burhama </option>
                    <option>Buri </option>
                    <option>Busaiteen </option>
                    <option>Daih </option>
                    <option>Dair </option>
                    <option>Dimistan </option>
                    <option>Danat Albahrain </option>
                    <option>Dar Kulaib </option>
                    <option>Dilmunia </option>
                    <option>Diplomatic Area </option>
                    <option>Diraz </option>
                    <option>Diyar Al Muharraq </option>
                    <option>Durrat Al Bahrain </option>
                    <option>East Riffa </option>
                    <option>Galali </option>
                    <option>Ghuraifa </option>
                    <option>Guful </option>
                    <option>Hala </option>
                    <option>Halat Abdulsaleh </option>
                    <option>Hamad Town </option>
                    <option>Hamala </option>
                    <option>Hawrat A'ali </option>
                    <option>Hawrat Sanad </option>
                    <option>Hidd </option>
                    <option>Hoora </option>
                    <option>Isa Town </option>
                    <option>Jablat Habshi </option>
                    <option>Janabiyah </option>
                    <option>Jannusan </option>
                    <option>Jari Alshaikh </option>
                    <option>Jasrah </option>
                    <option>Jaw </option>
                    <option>Jid al haj </option>
                    <option>Jid Ali </option>
                    <option>Jidhafs </option>
                    <option>Juffair </option>
                    <option>Jurdab </option>
                    <option>Karbabad </option>
                    <option>Karranah </option>
                    <option>Karzakan </option>
                    <option>Khalifa town </option>
                    <option>Lawzi </option>
                    <option>Maameer </option>
                    <option>Malkiya </option>
                    <option>Manama </option>
                    <option>Maqaba </option>
                    <option>Maqshaa </option>
                    <option>Marassi Al Bahrain </option>
                    <option>Markh </option>
                    <option>Muharraq </option>
                    <option>Musala </option>
                    <option>Nabih Saleh </option>
                    <option>Northern Sehla </option>
                    <option>Nuranah </option>
                    <option>Nuwaidrat </option>
                    <option>Qadam </option>
                    <option>Qudaybiyah </option>
                    <option>Ra's Hayyan </option>
                    <option>Ras Rumman </option>
                    <option>Ras Zuwaid </option>
                    <option>Reef Island </option>
                    <option>Riffa </option>
                    <option>Riffa Alhajiyat </option>
                    <option>Riffa Al Hunainiyah </option>
                    <option>Riffa Alshamali </option>
                    <option>Riffa Views </option>
                    <option>Sadad </option>
                    <option>Safra </option>
                    <option>Salhiya </option>
                    <option>Salmabad </option>
                    <option>Salman Town </option>
                    <option>Salmaniya </option>
                    <option>Samaheej </option>
                    <option>Sanabis </option>
                    <option>Sanad </option>
                    <option>Saar </option>
                    <option>Saraya 2 </option>
                    <option>Sayah </option>
                    <option>Seef District </option>
                    <option>Shahrakan </option>
                    <option>Shakhura </option>
                    <option>Sitra </option>
                    <option>Sitra industrial </option>
                    <option>South sehla </option>
                    <option>Sugaya </option>
                    <option>Tashan </option>
                    <option>Tubli </option>
                    <option>Um alhasam </option>
                    <option>Wadi Al Sail </option>
                    <option>West Riffa </option>
                    <option>Zallaq </option>
                    <option>Zayed Town </option>
                    <option>Zinj </option>
                </td>
              </tr>
              <tr>
                <td>
                  Price:
                </td>
                <td>
                  <input type="number" name="price" placeholder="0.000" /> BHD
                </td>
              </tr>
              <tr>
                <td>
                  Description:
                </td>
                <td>
                  <textarea name="description" placeholder="Enter Property Details"></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  Area Size:
                </td>
                <td>
                  <input type="number" name="areaSize" placeholder="Property Area Size (sqm)" />
                </td>
              </tr>
              <tr>
                <td>
                  Bedrooms:
                </td>
                <td>
                  <input type="number" name="bedrooms" placeholder="Number of Bedrooms" />
                </td>
              </tr>
              <tr>
                <td>
                  Bathrooms:
                </td>
                <td>
                  <input type="number" name="bathrooms" placeholder="Number of Bathrooms" />
                </td>
              </tr>
              <tr>
                <td>
                  Living Rooms:
                </td>
                <td>
                  <input type="number" name="livingRooms" placeholder="Number of Living Rooms" />
                </td>
              </tr>
              <tr>
                <td>
                  Halls:
                </td>
                <td>
                  <input type="number" name="halls" placeholder="Number of Halls" />
                </td>
              </tr>
              <tr>
                <td>
                  Parkings:
                </td>
                <td>
                  <input type="number" name="parkings" placeholder="Number of Parkings" />
                </td>
              </tr>
              <input type="hidden" name="uid" value=<%= currentUser._id %> >
              <tr>
                <td colspan="2" style="text-align: center;">
                  <input type="submit" value="ADD" class="button-4" style="width: 50%;">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  new MultiSelectTag('ingredients')  // id
</script>