
#profile {
    width: 300px;
    margin: 0 auto;
  }
  
  #profile h1 {
    text-align: center;
  }
  
  #profile-info label {
    display: block;
    margin-top: 10px;
  }
  
  #profile-info input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  #save-profile {
    display: block;
    margin-top: 10px;
  }
  .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -31px;
    width: 200px;

    border: none;
    border-radius: 0;
    font-size: 10px;
    background: #212529b8;
    
}
body {
justify-items: center;}

.profile-pic {
  width: 200px;
  height: 200px;
}
